/* Your Style */

body {
  background-color: #ffffff;
  font-size: 0.9em;
  font-family: Verdana,Arial,sans-serif;   
}

.ui-widget {
    font-size:0.9em !important;
}

.table.dataTable {
	table-layout: fixed;
	width: 100% !important;
}

.table.dataTable td, .table.dataTable th {
	width: auto !important;
	white-space: normal;
	text-overflow: ellipsis;
	overflow: hidden;
}

table.dataTable  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

table.my-table tbody tr td {
    padding: 4px 8px 4px 8px;
}

